body {
    font-family: "Roboto", Helvetica, sans-serif;
    font-size: 18px;
    margin: 0px;
}

.section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 85%;
    padding: 20px;
}

.purple{
    background: linear-gradient(135deg, #0c065e, #4c068d)
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
    width: 100%;
}

.header img {
    max-width: 8%;
}

.content-below-header{
    color: white;
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 100px;
}

.content-below-header > div {
    /* max-width: 600px; */
    max-width: 45%;
}

.button{
    display: inline-block;
    background-color: rgb(255, 197, 8);
    padding: 10px 15px;
    border-radius: 8px;
    color: black;
    cursor: pointer;
}

.content-below-header img {
    max-width: 45%;
    margin-bottom: 50px;
}

ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    gap: 35px;
}

a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 1.7rem;
}

h1{
    margin: 0px 0px;
}
