body {
    font-family: "Roboto", Helvetica, sans-serif;
    font-size: 18px;
    margin: 0px;
}

.section {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: stretch;
    max-width: 85%;
    padding: 20px;
}

.purple{
    background: linear-gradient(135deg, #0c065e, #4c068d);
}

.black{
    background: linear-gradient(210deg, #000000, #0d0118);
}

.dark-blue{
    background: linear-gradient(70deg, #060f25, #041531);
}

.spaced-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
    width: 100%;
}

.spaced-container #logo-img {
    max-width: 8%;
}

.content-below-header{
    color: white;
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    gap: 100px;
}

.content-below-header > div {
    /* max-width: 600px; */
    max-width: 45%;
}

.sign-up-button{
    display: inline-block;
    background-color: rgb(255, 197, 8);
    padding: 10px 15px;
    border-radius: 8px;
    color: black;
    cursor: pointer;
}

.content-below-header img {
    max-width: 45%;
    margin-bottom: 50px;
}

#second-container{
    margin-top: 60px;
    margin-bottom: 60px;
}

#second-container h1 {
    margin-bottom: 40px;
}

#albums-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.album-card {
    text-align: center;
}

.quote {
    font-size: 2rem;
    font-style: italic;
    font-weight: 300;
    margin-bottom: 5px;
}

#third-container {
    margin: 150px 0px;
    width: fit-content;
}

#third-container #author {
    margin: 5px;
    font-weight: 900;
    align-self: flex-end;
}

.sign-up-box {
    display: flex;
    color: black;
    background-color: rgb(255, 197, 8);
    justify-content: space-evenly;
    align-items: center;
    padding: 30px;
    margin: 80px 0px;
    border-radius: 15px;
    width: 800px;
}

.sign-up-box h2 {
    margin: 5px 10px;
}

.sign-up-box p {
    margin: 5px 10px;
}

.second.sign-up-button {
    margin: 30px;
    padding: 15px 25px;
    background-color: auto;
    border: black 2px solid;
    border-radius: 10px;
}

ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    gap: 35px;
}

a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 1.7rem;
}

h1{
    margin: 0px 0px;
}
